doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(type="module", src="js/dist/index.js")
    title Time Tracker 
  body
    h1 Total what:
    p#totalTime 00:00:00
    a#downloadLink(downloadLink="pdf-summary")
      button#downloadButton Download Invoice 

    h3#timerField 00:00:00
    input#projectTitle(type="text", name="title", placeholder="Project Title")
    button#startTimer(data-status="stoped") Start Timer! 

    ul#projectsList