extends base

block content
    h3 Log in
    form.form__login(method="post")
      label(for="email")
      input#email(type="email", name="email", placeholder="example@gmail.com", required)
      label(for="password")
      input#password(type="password", name="password", placeholder="********" ,required)
      button(type="submit") Log in
    hr
    button#goToPage(data-set="signup") Sign up