extends base

block content
    h1 Total what:
    p#totalTime 00:00:00
    a#downloadLink(downloadLink="pdf-summary")
      button#downloadButton Download Invoice 

    h3#timerField 00:00:00
    input#projectTitle(type="text", name="title", placeholder="Project Title")
    select(name="project-name" id="project-name")
      option(value="")
      option(value="create") Add new...
    input#projectRate(type="number", name="rate", placeholder="0" min="0")
    button#startTimer(data-status="stoped") Start Timer! 

    form.creating__client(method="post", style="display: none;")
      hr
      label(for="client") Name:
      input#clientName(type="text", name="client", placeholder="Microsoft", required)
      button#createClient(type="submit") Create New Client
      hr

    ul#startedTasks

    button(type="submit").logout Log out