extends base

block content
    h1 Total what:
    p#totalTime 00:00:00
    a#downloadLink(downloadLink="pdf-summary")
      button#downloadButton Download Invoice 

    h3#timerField 00:00:00
    input#projectTitle(type="text", name="title", placeholder="Project Title")
    button#startTimer(data-status="stoped") Start Timer! 

    ul#projectsList